<p id="notice"><%= notice %></p>

<p>
  <strong>Butt:</strong>
  <%= @unicorn.butt %>
</p>

<p>
  <strong>Farts:</strong>
  <%= @unicorn.farts %>
</p>

<%= link_to 'Edit', edit_unicorn_path(@unicorn) %> |
<%= link_to 'Back', unicorns_path %>
